<div class="text-layout">
  <h1>Pipes Decimales y Porcentajes</h1>
  <p>Pipes incluidos en angular</p>
</div>
<div class="prime-grid">
  <div class="col-4">
    <p-card header="Ventas Netas" subheader="del presente año">{{
      ventasNetas | number : "1.2-2"
    }}</p-card>
  </div>
  <div class="col-4">
    <p-card header="Ventas Brutas" subheader="del presente año">{{
      ventasNetas + 4000000000 | currency : "EUR"
    }}</p-card>
  </div>
  <div class="col-4">
    <p-card header="Ganancia %" subheader="del presente año">{{
      porcentaje | percent : "4.2-2"
    }}</p-card>
  </div>
</div>
